.container{
    background-color: rgb(0, 0, 0);
}
.loading{
    width: 100vw;
    height: 100vh;
    text-align: center;
    padding-top: 30vh;
}

.fillterWrap{
    display: flex;
    flex-wrap: wrap;
    padding: 80px;
    gap: 35px;
    justify-content: center;
    margin: 0 auto;
    /* background-color: rgb(0, 0, 0); */
}
.iconsGame{
    display: flex;
    padding: 10px;
    font-size: 21px;
    color: rgb(6, 247, 195);
}
