.container{
    position: relative;
    overflow: hidden;
    
}

.wrap{
    position: absolute;
    background-color:rgba(0, 0, 0, 0.63) ;
    border: 1px solid rgb(6, 247, 195);;
    padding: 80px;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%) !important ;
}
.gameName{
    color: white;
    font-size: 4.5em;
}

.backgroundDetails{
    width: 100vw;
    height: 100vh;
    opacity: 0.3;
    /* position: "absolute" */
    
}
.iconsGame{
    font-size: 30px;
    color: rgb(6, 247, 195);
    
}
.ratingTop{
    width: 50px;
    display: flex;
    margin-top: 5px;
    font-size: 30px;
    color: orange;
    padding: 10px;
    background-color: rgb(32, 32, 30);
    border:1px solid rgb(238, 72, 177);
}
.ratingCount{
    color:rgb(6, 247, 195) ;
    
    font-size: 50px;
}
.date{
    font-size: 16px;
    color: rgb(6, 247, 195);
    /* padding-bottom: 9px; */
}
.descWrap{
    padding: 20px;
}
.descWrapAbout{
    color:  rgb(6, 247, 195);
    display: flex;
    gap: 20px;
    padding: 20px;
}
.descText{
    color: rgb(170, 170, 170);
    font-size: 17px;

}
.descTextPlatforms{
    color: rgb(170, 170, 170);
    padding: 10px;
    /* margin-left: 30px; */
    margin-right: 50%;
    border-style: inset;
}
.titleText{
    color:  rgb(6, 247, 195);
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(6, 247, 195);
}
