.container{
    background-color: rgb(0, 0, 0);
}

.fillterWrap{
    display: flex;
    flex-wrap: wrap;
    padding: 80px;
    gap: 35px;
    justify-content: center;
    margin: 0 auto;
}
.iconsGame{
    display: flex;
    padding: 10px;
    font-size: 21px;
    color: rgb(6, 247, 195);
}
