
.sectionWrapper{
    background:url("../../asset/logo.png");
    background-repeat: no-repeat;
    background-position-x:75%;
    background-position-y: 65%;
    background-size: 40%;
}

.titleWrapper{
    padding: 200px 0px 300px 300px ;
    /* border: 1px solid white; */
}
.pageTitle{
    color: rgb(255, 255, 255);   
    font-size: 70px;
}
.pagetitleSecond{
    color: rgb(255, 255, 255);
    padding-top: 10px;
    font-size: 25px;
}
.btnStart{
    padding: 15px 30px 15px 30px;
    background-color: transparent;
    border: 1px solid rgb(6, 247, 195);
    color: rgb(6, 247, 195);
    border-radius: 20px;
    font-size: 18px;
    margin-top: 20px;
}
.btnStart:hover{
    background-color:rgb(198, 0, 216) ;
}