.navLogo{
    color: rgb(6, 247, 195);
    /* position:absolute; */
    font-size: 60px;
    background: transparent;
    border: 1px solid rgb(6, 247, 195);
    padding: 8px;
    /* margin-right: 93%; */
}
.navWrapper{
    padding: 50px 60px 0px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.navContainer{
/* display: flex; */
}
.navLogoIcon{
    
    width: 100px;
    height: 100px;
}
/* .navInputSearch{
    padding: 15px 700px 15px 20px;
    border-radius: 20px;
    border: none;
    background-color: rgb(73, 73, 73);
}
::placeholder {
    color: #fff;
} */
